* {
	background: #060B0F;
	color: #EEF5DB;
	font-family: monospace;
	margin: 0px;
	padding: 0px;
}

body {
	overflow: hidden;
}

a {
	color: #EEF5DB;
	text-decoration: none;
}

hr {
	width: 100vw;
}

.main-grid {
	display: grid;
	grid-template-rows: clamp(3rem, 0.857rem + 5.714vw, 6rem) 1fr 2em;
	grid-template-columns: 1fr;
	grid-template-areas: 
		"title"
		"main"
		"footer";
	height: 100vh;
	gap: clamp(0.313rem, 0.536rem + -0.595vw, 0rem);
	
}	.title {
		font-size: clamp(3rem, 1.571rem + 3.81vw, 5rem);
		text-align: center;
	}
	.main {
		font-size: clamp(0.875rem, 0.693rem + 0.811vw, 1.25rem);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2em;
	}
	.about {
		width: clamp(20rem, -1.429rem + 57.143vw, 50rem);
		text-align: center;
	}
	.recent {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;
	}
	.contact {
		text-align: center;
	}

.hover-001:before {
	content: "[001]";
}

.hover-001:hover:before {
	content: "Real-Time Strategy";
}

.hover-files:before {
	content: "•••";
}
.hover-files:hover:before {
	content: "ALL FILES";
}

.file-container {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	padding: 1em;
	margin: 0 auto;
	padding: 1vh;
	gap: 1vh;
	width: clamp(25rem, 80vw, 100rem);
}

.file-container H1 {
	font-size: clamp(1.5rem, -0.464rem + 5.238vw, 4.25rem);
}
.file-container H2 {
	font-size: clamp(1.2rem, 0.933rem + 1.185vw, 2rem);
	text-align: center;
}
.file-container p {
	font-size: clamp(0.875rem, 0.683rem + 0.852vw, 1.45rem);
	text-align: justify;
}
.file-container div {
	font-size: clamp(0.875rem, 0.683rem + 0.852vw, 1.45rem);
}
.container-h {
	width: clamp(25rem, 80vw, 100rem);
}
.review-l {
	float: left;
	flex: none;
	width: 30%
}
.review-r {
	float: right;
	text-align: right;
	flex: none;
	width: 70%;
}